<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <!-- Removes version headers from response -->
        <httpRuntime enableVersionHeader="false" />
    </system.web>

    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <!--Removes X-Powered-By header from response -->
                <remove name="X-AspNet-Version" />
                <remove name="X-AspNetMvc-Version" />
                <remove name="X-Powered-By" />
            </customHeaders>
        </httpProtocol>
    
        <security>
            <!--Removes Server header from response-->
            <requestFiltering removeServerHeader="true" />
        </security>
        <httpErrors>
            <error statusCode="403" subStatusCode="4" path="https://custsvc.jdrsol.com/test.html" responseMode="Redirect" />
        </httpErrors>
        <defaultDocument>
            <files>
                <add value="index.php" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
